{%extends 'base.html'%}

{%block styles_link%}
<link rel="stylesheet" href="{{url_for('static', filename='styles/homepage.css')}}"/>
{%endblock%}
{%block content%}
  <div class="container_principal">
    <a class="back_button" href="{{url_for('auth.login')}}">back</a>
    <div class='container_head'>
      <h2>Home-Page</h2>
    </div>
    <div class="principal_content_contacts">
      <div class="container_contacts">
        <div class="contacts_head">
          <h3>Contacts</h3>
        </div>
        <nav class="container_list">
          {%for contact in contacts%}
            <a class="container_link" href="{{url_for('auth.chat', name=contact.split('-')[0].strip(), number=contact.split('-')[1].strip(), id=id, my_name=my_name, my_number=my_number)}}">{{contact}}</a>
          {%endfor%}
        </nav>
        <a class='button_contact' href="{{url_for('auth.add_contact', id=id, my_name=my_name, my_number=my_number)}}">add contact</a>
      </div>
    </div>
  </div>
{%endblock%}