{%extends 'base.html'%}

{%block styles_link%}
<link rel="stylesheet" href="{{url_for('static', filename='styles/register.css')}}"/>
{%endblock%}
{%block content%}  
  <div class="container_principal">
    <form class="form_register" method="POST">
      {{form.hidden_tag()}}
      <div class="container_fields">
        <div class="element_form_register">
          {{form.username.label}} 
          {{form.username}}
        </div>
        <div class="element_form_register">
          {{form.email.label}}
          {{form.email}}
        </div>
        <div class="element_form_register">
          {{form.password.label}}
          {{form.password}}
        </div>
        <div class="element_form_register">
          {{form.confirm_password.label}} 
          {{form.confirm_password}}
        </div>
      </div>
      <div class="container_button">
        {{form.submit}}
      </div>
    </form>
  </div>
{%endblock%}
    