*{
  margin: 0;
  padding: 0;
}

body{
  background-color: blueviolet;
}

.container_principal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container_login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 40%;
  background-color: white;
  border-radius: 25px;
}

.form_login{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 70%;
  width: 80%;
}

.container_fields{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.element_form_login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  width: 90%;
}

.element_form_login label{
  color: blueviolet;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  user-select: none;
}

.element_form_login input{
  width: 80%;
  background-color: blueviolet;
  padding: 3px 5px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border-style: none;
}

.container_button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 50%;
}

.container_button input{
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  width: 50%;
  padding: 3px 0;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}

.container_button input:hover{
  background-color: peru;
}

.container_foot_login{
  user-select: none;
  font-weight: bold;
}

.container_foot_login a{
  text-decoration: none; 
  font-weight: bold;
  color: blueviolet;
}
